.photo-grid {
  max-width: 1184px;
  display: grid;
  justify-content: center;
  padding-top: 92px;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(auto-fill, 213px);
  gap: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    grid-template-rows: repeat(auto-fill, 264px);
    gap: 16px;
  }
}

@media screen and (max-width: 545px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: repeat(auto-fill, auto);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(auto-fill, 216px);
    padding-top: 64px;
    gap: 12px;
  }
}
